<div class="homepage-container">
    <div class="homepage-title">
        <img src="assets/images/PostPostmanLogo.png" />
        <span class="h1">Hey! Good to see you!</span>
        <span class="h2">What would you like to do today?</span>
    </div>
    <div class="homepage-cards">
        <mat-card class="new-monitor-card" routerLink="add">
            <mat-card-title>
                Create a new monitor
            </mat-card-title>
            <mat-card-content>
                <mat-icon>add_circle</mat-icon>
            </mat-card-content>
        </mat-card>
        <mat-card class="monitors-dashboard-card" routerLink="dashboard">
            <mat-card-title>
                Go to monitor's dashboard
            </mat-card-title>
            <mat-card-content>
                <mat-icon>dashboard</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>