<div class="homepage-container">
    <div class="homepage-title">
        <span class="h1">Hey!</span>
        <span class="h2">Good to see you!</span>
        <span class="h3">What would you like to do today?</span>
    </div>
    <div class="homepage-cards">
        <mat-card class="new-monitor-card">
            <mat-card-title>
                Create a new monitor
            </mat-card-title>
            <mat-card-content>
                <mat-icon>home</mat-icon>
            </mat-card-content>
        </mat-card>
        <mat-card class="monitors-dashboard-card">
            <mat-card-title>
                Go to monitor's dashboard
            </mat-card-title>
            <mat-card-content>
                <mat-icon>home</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>