<div class="add-monitor-container">
    <div class="add-monitor-content">
        <div class="add-monitor-info">
            <div class="logo">
                <img src="assets/images/PostPostmanLogo.png"/>
                <span class="title">Add new Monitor</span>
            </div>
            <p>
                In order to use postpostman monitors you should create a new colection of HTTP requests via Poastman.
            </p>
            <p class="list-text">
                1. Download Postman and open the app.
            </p>
            <p class="list-text">
                2. Create a new postman collection.
            </p>
            <p class="list-text">
                3. Add HTTP requests to the created collection, that will test your app liveness and business logic.
            </p>
            <p class="list-text">
                4. Click Share and choose 'Via JSON link' option.
            </p>
            <p class="list-text">
                5. Copy the created link and use it in the form field (collection url).
            </p>
        </div>
        <div class="add-monitor-form">
            <app-add-monitor-form></app-add-monitor-form>
        </div>
    </div>
</div>
