.container {
    padding: 3%;
}
.page-title {
    color: #9C27B0;
    font-size: 36px;
    padding: 3%;
    font-family: Heebo;
}

.body-container {
  padding: 3vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
  gap: 2vh;
}

.monitor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monitor-card-content {
  font-family: Heebo Light;
}

.monitor-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monitor-card-title {
    font-family: Heebo Light;
    color: #9C27B0
}

.progress-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
